<div class="p-6 bg-black min-h-screen text-white overflow-x-hidden">
    <div
        class="bg-gray-900 p-4 rounded-lg h-fit w-full shadow-2xl border border-gray-800 hover:border-[#69f0ae] hover:shadow-[0_0_15px_#69F0AE] transition-all duration-300 mx-auto">
        <h2 class="text-lg font-semibold mb-4 uppercase text-white sm:text-left">RECENTLY ADDED Mega MENU</h2>

        <div class="overflow-x-auto">
            <table class="w-full text-sm text-left border-collapse">
                <thead class="bg-gray-800">
                    <tr>
                        <th class="px-4 py-2">ID</th>
                        <th class="px-4 py-2">Name</th>
                        <th class="px-4 py-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b border-gray-700"
                        *ngFor="let menu of paginatedMenus; let i = index; let last=last"
                        [ngClass]="{'border-b-0': last}">
                        <td class="px-4 py-2">{{ i + 1 }}</td>
                        <td class="px-4 py-2">{{ menu.name }}</td>
                        <td class="px-4 py-2 flex gap-1">
                            <button (click)="deleteMenu(menu.id)" class="action-icon">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            <button (click)="editMenu(menu)" class="action-icon">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flex justify-center mt-6 w-full">
            <nav aria-label="Pagination" class="w-full">
                <ul class="flex justify-center space-x-2">
                    <li>
                        <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"
                            class="prevnext-button">
                            <i *ngIf="currentPage !== 1" class="fa fa-chevron-left"></i>
                            <span *ngIf="currentPage === 1">Previous</span>
                        </button>
                    </li>

                    <ng-container *ngFor="let page of getPageRange(); let i = index">
                        <li>
                            <button (click)="onPageChange(page)" [class.bg-[#69F0AE]]="currentPage === page"
                                [class.text-black]="currentPage === page" [class.text-[#69F0AE]]="currentPage !== page"
                                [class.border]="'1px solid #69F0AE'" class="number-count">
                                {{ page }}
                            </button>
                        </li>
                    </ng-container>

                    <li>
                        <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages"
                            class="prevnext-button">
                            <i *ngIf="currentPage !== totalPages" class="fa fa-chevron-right"></i>
                            <span *ngIf="currentPage === totalPages">Next</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>