<div class="p-6 bg-white min-h-screen text-gray-900 overflow-x-hidden">
    <div
        class="bg-white p-4 rounded-lg h-fit w-full shadow-xl border border-gray-200 hover:border-[#1976d2] hover:shadow-[0_0_12px_#1976d250] transition-all duration-300 mx-auto">
        <h2 class="text-lg font-semibold mb-4 uppercase text-gray-800 sm:text-left">
            RECENTLY ADDED Mega MENU
        </h2>

        <div class="overflow-x-auto">
            <table class="w-full text-sm text-left border-collapse">
                <thead class="bg-gray-100 border-b border-gray-200">
                    <tr>
                        <th class="px-4 py-2 font-semibold text-gray-700">ID</th>
                        <th class="px-4 py-2 font-semibold text-gray-700">Name</th>
                        <th class="px-4 py-2 font-semibold text-gray-700">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b border-gray-200 hover:bg-gray-50 transition"
                        *ngFor="let menu of paginatedMenus; let i = index; let last=last"
                        [ngClass]="{'border-b-0': last}">
                        <td class="px-4 py-2">{{ i + 1 }}</td>
                        <td class="px-4 py-2">{{ menu.name }}</td>
                        <td class="px-4 py-2 flex gap-2">
                            <button (click)="deleteMenu(menu.id)" class="action-icon text-red-500 hover:text-red-600">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            <button (click)="editMenu(menu)" class="action-icon text-blue-500 hover:text-blue-600">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Pagination -->
            <div *ngIf="menus.length > 0" class="flex justify-center w-full overflow-x-auto">
                <div class="flex flex-col md:flex-row md:items-center md:justify-between mt-8 gap-4 w-full">
                    <div class="text-sm text-gray-600">
                        Showing
                        <span class="text-[#1976d2] font-semibold">
                            {{ (currentPage - 1) * pageSize + 1 }}
                        </span>
                        to
                        <span class="text-[#1976d2] font-semibold">
                            {{ Math.min(currentPage * pageSize, menus.length) }}
                        </span>
                        of
                        <span class="text-[#1976d2] font-semibold">
                            {{ menus.length }}
                        </span>
                        items
                    </div>

                    <nav aria-label="Pagination">
                        <ul class="flex items-center space-x-2">
                            <li>
                                <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"
                                    class="prevnext-button">
                                    Previous
                                </button>
                            </li>
                            <ng-container *ngFor="let page of getPageRange(); let i = index">
                                <li>
                                    <button (click)="onPageChange(page)" [class.bg-[#1976d2]]="currentPage === page"
                                        [class.text-black]="currentPage === page" class="number-count">
                                        {{ page }}
                                    </button>
                                </li>
                            </ng-container>
                            <li>
                                <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages"
                                    class="prevnext-button">
                                    Next
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>