<div class="py-20 text-white px-5 lg:px-20">
    <h1 class="text-lg font-bold text-center py-10 text-white">My Orders</h1>

    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
        <div class="col-span-1">
            <div class="space-y-3">
                <div *ngFor="let option of orderFilter" class="flex items-center space-x-2">
                    <mat-checkbox [checked]="selectedFilters.includes(option.value)"
                        (change)="toggleFilter(option.value, $event.checked)">
                    </mat-checkbox>
                    <span class="text-sm text-gray-500">{{ option.label }}</span>
                </div>
            </div>
        </div>

        <div class="col-span-3 space-y-6">
            <div *ngIf="paginatedOrders.length > 0; else noOrders">
                <div *ngFor="let order of paginatedOrders; let last=last">
                    <div *ngFor="let item of order.items" class="cursor-pointer"
                        (click)="navigateToOrderDetails(order.parentOrder.id)">
                        <app-order-card [orderItem]="item" [order]="order.parentOrder"
                            [highlightStatus]="isStatusHighlighted(order.parentOrder.status)"></app-order-card>
                    </div>
                    <mat-divider *ngIf="!last"></mat-divider>
                </div>
            </div>

            <ng-template #noOrders>
                <div class="flex flex-col items-center justify-center py-20 text-center">
                    <i class="fas fa-box-open text-gray-500 text-7xl animate-bounce"></i>
                    <p class="mt-2 text-2xl font-semibold text-gray-300">No orders found.</p>
                    <p class="text-sm text-gray-500">It looks like you haven't placed any orders yet.</p>
                    <button routerLink="/products"
                        class="mt-6 px-6 py-2 rounded-lg bg-gradient-to-r from-[#69F0AE] via-emerald-400 to-green-500 
                        text-gray-900 font-semibold text-sm shadow-md hover:shadow-lg hover:scale-105 transition-all duration-300">
                        Start Shopping
                    </button>
                </div>
            </ng-template>

            <div *ngIf="orders.length > 0" class="flex justify-center mt-6 w-full">
                <!-- Pagination -->
                <div class="flex flex-col md:flex-row md:items-center md:justify-between mt-8 gap-4">

                    <!-- Total Items Info -->
                    <div class="text-sm text-gray-400">
                        Showing
                        <span class="text-[#69F0AE] font-semibold">
                            {{ (currentPage - 1) * pageSize + 1 }}
                        </span>
                        to
                        <span class="text-[#69F0AE] font-semibold">
                            {{ Math.min(currentPage * pageSize, totalProducts) }}
                        </span>
                        of
                        <span class="text-[#69F0AE] font-semibold">
                            {{ totalProducts }}
                        </span>
                        items
                    </div>

                    <nav aria-label="Pagination">
                        <ul class="flex items-center space-x-2">
                            <li>
                                <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"
                                    class="prevnext-button">
                                    Previous
                                </button>
                            </li>
                            <ng-container *ngFor="let page of getPageRange(); let i = index">
                                <li>
                                    <button (click)="onPageChange(page)" [class.bg-[#69F0AE]]="currentPage === page"
                                        [class.text-black]="currentPage === page" class="number-count">
                                        {{ page }}
                                    </button>
                                </li>
                            </ng-container>
                            <li>
                                <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages"
                                    class="prevnext-button">
                                    Next
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>