<div class="w-full">
    <div class="hidden lg:grid grid-cols-5 gap-6 bg-gray-950 text-white w-full h-1/2 shadow-lg ">
        <div class="flex flex-col items-center" *ngFor="let category of categories">
            <h1 class="text-center font-semibold text-white mb-3">{{ category.name }}</h1>
            <button class="hover:bg-gray-900 hover:!text-[#69f0ae] rounded-md py-2 w-32"
                *ngFor="let subcategory of subcategories[category.id]" (click)="fetchProducts(subcategory.id)">
                {{ subcategory.name }}</button>
        </div>

        <div class="flex flex-col items-center">
            <h1 class="text-center font-semibold text-white mb-3">Brands</h1>
            <button class="hover:bg-gray-900 hover:!text-[#69f0ae] rounded-md py-2 w-32" *ngFor="let brand of brands"
                (click)="fetchProducts(undefined, brand.id)">
                {{ brand.name }}</button>
        </div>

        <div class="hidden lg:block">
            <div class="mb-5">
                <img class="w-[19rem] h-[20rem] object-cover object-top rounded-md"
                    src="https://www.ethnicplus.in/media/catalog/product/cache/1d5df636cf8c8988ea2d2c570bb7c21d/a/a/aayaa_1900002.jpg"
                    alt="">
            </div>
            <p class="text-white">New Arrival</p>
        </div>
        <div class="hidden lg:block">
            <div class="mb-5">
                <img class="w-[19rem] h-[20rem] object-cover object-top rounded-md"
                    src="https://www.ethnicplus.in/media/catalog/product/cache/1d5df636cf8c8988ea2d2c570bb7c21d/r/a/ram-076-pnk_6_.jpg"
                    alt="">
            </div>
            <p class="text-white">New Arrival</p>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 lg:hidden">
        <div class="flex flex-col items-center" *ngFor="let category of categories">
            <h1 class="text-center font-semibold text-white mb-3">{{ category.name }}</h1>
            <button class="hover:bg-gray-900 hover:text-[#69f0ae] rounded-md py-2 w-full"
                *ngFor="let subcategory of subcategories[category.id]" (click)="fetchProducts(subcategory.id)">
                {{ subcategory.name }}</button>
        </div>

        <div class="flex flex-col items-center">
            <h1 class="text-center font-semibold text-white mb-3">Brands</h1>
            <button class="hover:bg-gray-900 hover:text-[#69f0ae] rounded-md py-2 w-full" *ngFor="let brand of brands"
                (click)="fetchProducts(undefined, brand.id)">
                {{ brand.name }}</button>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6 lg:hidden items-center">
        <div class="w-full lg:block flex flex-col items-center">
            <div class="mb-5">
                <img class="w-[19rem] h-[20rem] object-cover object-top rounded-md"
                    src="https://www.ethnicplus.in/media/catalog/product/cache/1d5df636cf8c8988ea2d2c570bb7c21d/a/a/aayaa_1900002.jpg"
                    alt="">
            </div>
            <p class="text-white">New Arrival</p>
        </div>
        <div class="w-full lg:block flex flex-col items-center">
            <div class="mb-5">
                <img class="w-[19rem] h-[20rem] object-cover object-top rounded-md"
                    src="https://www.ethnicplus.in/media/catalog/product/cache/1d5df636cf8c8988ea2d2c570bb7c21d/r/a/ram-076-pnk_6_.jpg"
                    alt="">
            </div>
            <p class="text-white">New Arrival</p>
        </div>
    </div>
</div>