.productCard {
    @apply shadow-md transition-all duration-500;

    .textPart {
        transition: transform 0.3s ease-in-out;
    }

    &:hover {
        @apply shadow-[0_0_15px_#69F0AE];

        .textPart {
            transform: translateY(-1rem);
        }
    }
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.6;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.animate-ripple {
    animation: ripple 0.6s ease-out forwards;
}