<div class="grid grid-cols-1 md:grid-cols-6 gap-4 items-center pb-3 my-3 border-b border-gray-200">
    <!-- Product Image & Details -->
    <div class="md:col-span-3 flex flex-col md:flex-row items-center w-full">
        <img class="w-16 h-16 md:w-20 md:h-20 object-cover object-top rounded-lg shadow-sm" [src]="orderItem.image"
            alt="Product Image">
        <div class="mt-2 md:mt-0 md:ml-5 text-center md:text-left">
            <p class="font-semibold text-sm md:text-base lg:text-lg text-gray-800">{{ orderItem.title }}</p>
            <p class="text-gray-500 text-xs md:text-sm">
                Color:
                <span class="font-bold text-xs md:text-sm uppercase tracking-wide px-2 py-1 rounded-md border shadow-sm"
                    [ngClass]="getColorClass(orderItem.color)">
                    {{ orderItem.color }}
                </span>
            </p>

            <p class="text-gray-500 text-xs md:text-sm">Quantity: {{ orderItem.quantity }}</p>
        </div>
    </div>

    <!-- Price -->
    <div class="md:col-span-1 text-center md:text-left">
        <p class="font-semibold text-sm md:text-base lg:text-lg text-gray-800">
            ₹{{ orderItem.disprice }}
        </p>
    </div>

    <!-- Delivery & Status -->
    <div class="md:col-span-2 text-center md:text-left">
        <p class="font-semibold text-sm md:text-base lg:text-lg text-gray-700">
            Expected Delivery On {{ order.createdAt | date }}
        </p>
        <p class="text-xs md:text-sm text-gray-600">
            Status:
            <span [ngClass]="{'status-highlight': highlightStatus}">
                {{ order.status }}
            </span>
        </p>
    </div>
</div>