<div class="space-y-3">
    <p class="font-semibold">Your Address</p>
    <p class="text-lg font-semibold">Address: <span class="text-lg font-medium">{{ address.address }}</span></p>
    <p class="text-lg font-semibold">City: <span class="text-lg font-medium">{{ address.city }}</span></p>
    <p class="text-lg font-semibold">ZipCode: <span class="text-lg font-medium">{{ address.zipCode }}</span></p>
    <p class="text-lg font-semibold">Phone Number: <span class="text-lg font-medium">+{{ address.mobNumber }}</span>
    </p>
</div>