::ng-deep nz-collapse.collapse_data {
    background-color: black !important;
    border: none !important;

    .ant-collapse-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
        background-color: transparent !important;

        &:last-child {
            border-bottom: none !important;
        }

        .ant-collapse-header {
            text-transform: uppercase;
            font-weight: 600;
            color: white !important;
            background-color: transparent !important;

            .ant-collapse-arrow svg {
                color: white !important;
                fill: white !important;
            }

            .ant-collapse-header-text {
                color: white !important;
            }
        }

        .ant-collapse-content {
            background-color: transparent !important;

            .ant-collapse-content-box {
                background-color: transparent !important;
                color: white !important;
                padding: 12px 16px !important;
            }
        }
    }
}