<div class="min-h-screen bg-white flex items-center justify-center px-4 py-6">
    <form [formGroup]="menuForm" (ngSubmit)="onSubmit()"
        class="glass-card w-full max-w-3xl bg-white text-gray-800 backdrop-blur-md p-6 rounded-lg shadow-2xl border border-gray-200 hover:border-[#1976d2] hover:shadow-[0_0_12px_#1976d250] transition-all duration-300">
        <h2 class="text-xl font-semibold text-[#1976d2] text-center mb-6">
            {{ editMode ? 'Edit Menu' : 'Add New Menu' }}
        </h2>

        <div class="grid grid-cols-1 gap-6">
            <div class="flex flex-col relative group">
                <nz-form-item>
                    <nz-form-control [nzSpan]="24">
                        <input type="text" placeholder="" formControlName="name" class="peer form-input" />
                        <label class="form-label">
                            Menu Name
                            <span *ngIf="f['name'].invalid || f['name'].errors?.['required']"
                                class="text-red-500">*</span>
                        </label>
                        <div class="mt-2">
                            <p *ngIf="(submitted || f['name'].touched) && f['name'].errors?.['required']"
                                class="error-text">
                                This field is required
                            </p>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <button class="btn-primary">
            {{ editMode ? 'Update Menu' : 'Add Menu' }}
        </button>
    </form>
</div>