<div class="p-6 bg-white min-h-screen text-gray-900 overflow-x-hidden">
    <div
        class="bg-white p-4 rounded-lg w-full shadow-xl border border-gray-200 hover:border-[#1976d2] hover:shadow-[0_0_12px_#1976d250] transition-all duration-300">
        <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center">
            <h2 class="text-lg font-semibold mb-4 uppercase text-gray-800">All CUSTOMERS</h2>

            <div class="relative w-full sm:max-w-md mb-4 flex gap-1 md:gap-0 justify-evenly">
                <nz-input-group [nzSuffix]="suffixIconSearch" class="relative w-full max-w-md mb-4">
                    <input type="text" nz-input [(ngModel)]="searchTerm" (input)="filterCustomers()"
                        placeholder="Search categories..."
                        class="w-full rounded-full px-4 py-2 focus:ring-[#1976d2] focus:border-[#1976d2] focus:ring-2 transition-all duration-300 placeholder-gray-400 focus:shadow-[0_0_15px_#69f0ae]" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <span nz-icon nzType="search" class="text-[#1976d2]"></span>
                </ng-template>

                <div>
                    <span *ngIf="searchTerm"
                        class="absolute right-4 top-1/2 transform -translate-y-1/2 text-[#1976d2] text-sm">
                        {{ filteredCount }} found
                    </span>
                </div>
            </div>

        </div>
        <div class="overflow-x-auto">
            <table class="w-full text-sm text-left min-w-[600px] border border-gray-200 rounded-lg">
                <thead class="bg-gray-100 border-b border-gray-200">
                    <tr>
                        <th class="px-4 py-2 text-gray-700">ID</th>
                        <th class="px-4 py-2 text-gray-700">Image</th>
                        <th class="px-4 py-2 text-gray-700">First Name</th>
                        <th class="px-4 py-2 text-gray-700">Last Name</th>
                        <th class="px-4 py-2 text-gray-700">Email</th>
                        <th class="px-4 py-2 text-gray-700">Action</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    <tr *ngFor="let customer of paginatedCustomers; let i = index; let last=last"
                        [ngClass]="{'!border-b-0': last}" class="hover:bg-gray-50 transition">
                        <td class="px-4 py-2">{{ startIndex + i + 1 }}</td>
                        <td class="px-4 py-2 font-medium text-gray-800">
                            <div class="w-10 h-10 flex items-center justify-center rounded-full text-gray-800">
                                <img *ngIf="customer.image; else noImage" [src]="customer.image" alt="Avatar"
                                    class="w-full h-full object-cover rounded-full" />
                                <ng-template #noImage>
                                    <div [ngClass]="customer.avatarColor"
                                        class="w-full h-full flex items-center rounded-full justify-center">
                                        {{ customer.initial }}
                                    </div>
                                </ng-template>
                            </div>
                        </td>
                        <td class="px-4 py-2 font-medium text-gray-800">{{ customer.firstName }}</td>
                        <td class="px-4 py-2 font-medium text-gray-800">{{ customer.lastName }}</td>
                        <td class="px-4 py-2 font-medium text-gray-800">{{ customer.email }}</td>
                        <td class="p-3 !align-baseline">
                            <button (click)="deleteUser(customer.id)"
                                class="action-icon text-red-500 hover:text-red-600">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Pagination -->
            <div *ngIf="customers.length > 0" class="flex justify-center w-full overflow-x-auto">
                <div class="flex flex-col md:flex-row md:items-center md:justify-between mt-8 gap-4 w-full">
                    <div class="text-sm text-gray-600">
                        Showing
                        <span class="text-[#1976d2] font-semibold">
                            {{ (currentPage - 1) * pageSize + 1 }}
                        </span>
                        to
                        <span class="text-[#1976d2] font-semibold">
                            {{ Math.min(currentPage * pageSize, customers.length) }}
                        </span>
                        of
                        <span class="text-[#1976d2] font-semibold">
                            {{ customers.length }}
                        </span>
                        items
                    </div>

                    <nav aria-label="Pagination">
                        <ul class="flex items-center space-x-2">
                            <li>
                                <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"
                                    class="prevnext-button">
                                    Previous
                                </button>
                            </li>
                            <ng-container *ngFor="let page of getPageRange(); let i = index">
                                <li>
                                    <button (click)="onPageChange(page)" [class.bg-[#1976d2]]="currentPage === page"
                                        [class.text-black]="currentPage === page" class="number-count">
                                        {{ page }}
                                    </button>
                                </li>
                            </ng-container>
                            <li>
                                <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages"
                                    class="prevnext-button">
                                    Next
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>