<div class="p-6 bg-black min-h-screen text-white">
    <div
        class="bg-gray-900 p-4 rounded-lg h-fit w-full shadow-2xl border border-gray-800 hover:border-[#69f0ae] hover:shadow-[0_0_15px_#69F0AE] transition-all duration-300">
        <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center">
            <h2 class="text-lg font-semibold mb-4 uppercase text-white">All CUSTOMERS</h2>

            <div class="relative w-full sm:max-w-md mb-4 flex gap-1 md:gap-0 justify-evenly">
                <nz-input-group [nzSuffix]="suffixIconSearch" class="relative w-full max-w-md mb-4">
                    <input type="text" nz-input [(ngModel)]="searchTerm" (input)="filterCustomers()"
                        placeholder="Search categories..." class="w-full bg-[#1e1e1e] border border-gray-600 text-white rounded-full px-4 py-2 
                             focus:ring-[#69f0ae] focus:border-[#69f0ae] focus:ring-2 transition-all duration-300 
                             placeholder-gray-400 shadow-lg focus:shadow-[0_0_15px_#69f0ae]" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <span nz-icon nzType="search" class="text-[#69f0ae]"></span>
                </ng-template>

                <div>
                    <span *ngIf="searchTerm"
                        class="absolute right-4 top-1/2 transform -translate-y-1/2 text-[#69f0ae] text-sm">
                        {{ filteredCount }} found
                    </span>
                </div>
            </div>

        </div>
        <div class="overflow-x-auto">
            <table class="w-full text-sm text-left min-w-[600px]">
                <thead class="bg-gray-800">
                    <tr>
                        <th class="px-4 py-2">ID</th>
                        <th class="px-4 py-2">Image</th>
                        <th class="px-4 py-2">First Name</th>
                        <th class="px-4 py-2">Last Name</th>
                        <th class="px-4 py-2">Email</th>
                        <th class="px-4 py-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b border-gray-700"
                        *ngFor="let customer of paginatedCustomers; let i = index; let last=last"
                        [ngClass]="{'border-b-0': last}">
                        <td class="px-4 py-2">{{ startIndex + i + 1 }}</td>
                        <td class="px-4 py-2">
                            <div
                                class="w-10 h-10 flex items-center justify-center rounded-full text-white">
                                <img *ngIf="customer.image; else noImage" [src]="customer.image" alt="Avatar"
                                    class="w-full h-full object-cover rounded-full" />
                                <ng-template #noImage>
                                    <div [ngClass]="customer.avatarColor"
                                        class="w-full h-full flex items-center rounded-full justify-center">
                                        {{ customer.initial }}
                                    </div>
                                </ng-template>
                            </div>
                        </td>
                        <td class="px-4 py-2">{{ customer.firstName }}</td>
                        <td class="px-4 py-2">{{ customer.lastName }}</td>
                        <td class="px-4 py-2">{{ customer.email }}</td>
                        <td class="p-3 !align-baseline">
                            <button (click)="deleteUser(customer.id)" class="action-icon">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <!-- Pagination -->
            <div class="flex justify-center mt-6 w-full overflow-x-auto">
                <div class="flex flex-col md:flex-row md:items-center md:justify-between mt-8 gap-4">
    
                    <div class="text-sm text-gray-400">
                        Showing
                        <span class="text-[#69F0AE] font-semibold">
                            {{ (currentPage - 1) * pageSize + 1 }}
                        </span>
                        to
                        <span class="text-[#69F0AE] font-semibold">
                            {{ Math.min(currentPage * pageSize, customers.length) }}
                        </span>
                        of
                        <span class="text-[#69F0AE] font-semibold">
                            {{ customers.length }}
                        </span>
                        items
                    </div>
    
                    <nav aria-label="Pagination">
                        <ul class="flex items-center space-x-2">
                            <li>
                                <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"
                                    class="prevnext-button">
                                    Previous
                                </button>
                            </li>
                            <ng-container *ngFor="let page of getPageRange(); let i = index">
                                <li>
                                    <button (click)="onPageChange(page)" [class.bg-[#69F0AE]]="currentPage === page"
                                        [class.text-black]="currentPage === page" class="number-count">
                                        {{ page }}
                                    </button>
                                </li>
                            </ng-container>
                            <li>
                                <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages"
                                    class="prevnext-button">
                                    Next
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>