<div class="py-10 md:py-16 lg:py-20 text-white px-5 md:px-10 lg:px-20">
    <div *ngIf="isLoading" class="text-center">
        <p>Loading order details...</p>
    </div>

    <div *ngIf="errorMessage" class="text-center text-red-500">
        <p>{{ errorMessage }}</p>
    </div>

    <div class="pt-5">
        <button routerLink="/account/orders"
            class="flex !items-center gap-2 px-4 py-2 rounded-full !bg-[#69f0ae] text-black bg-transparent backdrop-blur-md border border-[#69f0ae] !font-bold shadow-lg hover:!bg-transparent hover:text-[#69f0ae] hover:shadow-[0_0_15px_#69F0AE] transition-all duration-300">
            <span class="text-lg font-bold">←</span>
            <span class="font-medium">Back</span>
        </button>
    </div>

    <div *ngIf="order && !isLoading">
        <div class="py-5">
            <h2 class="text-center text-white text-lg md:text-xl lg:text-2xl font-semibold py-4">Order Status</h2>
            <app-order-tracker [activeStep]="order.status" [steps]="steps"></app-order-tracker>
        </div>

        <div class="space-y-6 md:space-y-10 pt-6 md:pt-10">
            <div class="box px-5 md:px-10 py-5">
                <h1 class="text-lg md:text-xl font-semibold text-white">Shipping Address</h1>
                <app-address-card [address]="order.address"></app-address-card>
            </div>

            <div class="space-y-6 md:space-y-10">
                <div *ngFor="let orderItem of paginatedOrders let last=last">
                    <app-order-card [orderItem]="orderItem" [order]="order"></app-order-card>
                    <mat-divider *ngIf="!last"></mat-divider>
                </div>

                <!-- Pagination -->
                <div class="flex flex-col md:flex-row md:items-center md:justify-between mt-8 gap-4">

                    <div class="text-sm text-gray-400">
                        Showing
                        <span class="text-[#69F0AE] font-semibold">
                            {{ (currentPage - 1) * pageSize + 1 }}
                        </span>
                        to
                        <span class="text-[#69F0AE] font-semibold">
                            {{ Math.min(currentPage * pageSize, order.items.length) }}
                        </span>
                        of
                        <span class="text-[#69F0AE] font-semibold">
                            {{ order.items.length }}
                        </span>
                        items
                    </div>

                    <nav aria-label="Pagination">
                        <ul class="flex items-center space-x-2">
                            <li>
                                <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"
                                    class="prevnext-button">
                                    Previous
                                </button>
                            </li>
                            <ng-container *ngFor="let page of getPageRange(); let i = index">
                                <li>
                                    <button (click)="onPageChange(page)" [class.bg-[#69F0AE]]="currentPage === page"
                                        [class.text-black]="currentPage === page" class="number-count">
                                        {{ page }}
                                    </button>
                                </li>
                            </ng-container>
                            <li>
                                <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages"
                                    class="prevnext-button">
                                    Next
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>