$primary: #69f0ae;

nz-input-group {
    border: 1px solid #d9d9d9;

    input {
        color: black !important;
    }
}

@media (max-width: 768px) {
    .category-container {
        padding: 1rem;
    }

    table {
        min-width: 100%;
    }

    .pagination {
        flex-direction: column;
        gap: 0.5rem;
    }
}