<div class="mt-24 space-y-5 px-5 lg:px-20">
    <ng-container>
        <div *ngFor="let item of adresses" class="p-5 shadow-lg rounded-md my-5 box">
            <app-address-card [address]="item"></app-address-card>
        </div>
        <div class="grid grid-cols-1 gap-5 lg:grid-cols-3 relative py-5">
            <div class="lg:col-span-2 space-y-5">
                <div class="space-y-3 box rounded-md p-5">
                    <div *ngFor="let product of paginatedcart; let last=last">
                        <app-cart-item [cartItem]="product"></app-cart-item>
                        <mat-divider *ngIf="!last"></mat-divider>
                    </div>
                </div>

                <!-- Pagination -->
                <div *ngIf="cart.length > 0"
                    class="flex flex-col md:flex-row md:items-center md:justify-between mt-8 gap-4">

                    <!-- Total Items Info -->
                    <div class="text-sm text-gray-400">
                        Showing
                        <span class="text-[#1e88e5] font-semibold">
                            {{ (currentPage - 1) * pageSize + 1 }}
                        </span>
                        to
                        <span class="text-[#1e88e5] font-semibold">
                            {{ Math.min(currentPage * pageSize, cart.length) }}
                        </span>
                        of
                        <span class="text-[#1e88e5] font-semibold">
                            {{ cart.length }}
                        </span>
                        items
                    </div>

                    <nav aria-label="Pagination">
                        <ul class="flex items-center space-x-2">
                            <li>
                                <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"
                                    class="prevnext-button">
                                    Previous
                                </button>
                            </li>
                            <ng-container *ngFor="let page of getPageRange(); let i = index">
                                <li>
                                    <button (click)="onPageChange(page)"
                                        [ngClass]="{'bg-[#1e88e5] text-black': currentPage === page, 'text-gray-700': currentPage !== page}"
                                        class="number-count">
                                        {{ page }}
                                    </button>
                                </li>
                            </ng-container>
                            <li>
                                <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages"
                                    class="prevnext-button">
                                    Next
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <section class="col-span-1 lg:sticky lg:top-24 mt-5 lg:mt-0">
                <ng-container>
                    <div class="box p-5 rounded-md">
                        <p class="font-bold text-gray-500 pb-4">PRICE DETAILS</p>
                        <mat-divider></mat-divider>
                        <div class="space-y-3 text-sm">
                            <div class="flex justify-between pt-3">
                                <span>Total Price</span>
                                <span>₹{{ getTotalPrice() }}</span>
                            </div>
                            <div class="flex justify-between pt-3">
                                <span>Discount</span>
                                <span class="text-green-700">-₹{{ getTotalDiscount() }}</span>
                            </div>
                            <div class="flex justify-between pt-3">
                                <span>Delivery Charges</span>
                                <span class="text-[#1976d2]">Free</span>
                            </div>
                            <div class="flex justify-between font-semibold text-lg">
                                <span>Total Amount</span>
                                <span class="text-[#1976d2]">₹{{ getFinalAmount() }}</span>
                            </div>
                        </div>

                        <div class="mt-8 space-y-3">
                            <button (click)="proceedToCheckout()" class="text-lg !w-full !py-2 btn-primary">
                                Place Order
                            </button>
                        </div>
                    </div>
                </ng-container>
            </section>
        </div>
    </ng-container>
</div>